<div class="container pt-2">
    <div class="row">
<div class="col-12">

    <div class="field">
        <label class="boxhead">Id</label>
        <input type="number" class="input-field-id" name="id" [(ngModel)]="id">
        </div>
    <div class="field">
        <label class="boxhead">Name</label>
       <input type="text" [(ngModel)]="name"  class="input-field-id" >
    </div>
    <div class="field">
        <label class="boxhead">Status</label>
        <input type="text" [(ngModel)]="status"  class="input-field-id" >
    </div>
    <div class="field">
        <label class="boxhead">Designation</label>
        <input type="text" [(ngModel)]="designation"  class="input-field-id" >
    </div>
    <div class="field">
        <label class="boxhead">Location</label>
        <input type="text" [(ngModel)]="location"  class="input-field-id" >
    </div>
    <div class="button pb-2">
        <button class="btn-save" (click)="savebtn()">Save</button>
      </div>
</div>
    </div>
</div>